body{
  background-color: black;
}
.box{
  margin:50px;
  padding-left: 20px;
  border: 10px yellow solid;
}
.intro{
  color:aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}